textarea.ng-invalid.ng-touched, input.ng-invalid.ng-touched {
  border: 1px solid #DA3637;
  border-radius: 5px;
}

textarea.ng-valid.ng-touched, input.ng-valid.ng-touched {
  border: 2px solid #509D12;
  border-radius: 5px;
}

.validationerror {
    color: red;
}
 div > span {
     color: white;
 }
 
 .required {
     color: red;
 }

 img {
     width: 100%;
 }

 button.close {
     color: red;
 }

 .outer {
     background-color: black;
 }

 .thumbnail {
     position: relative;
 }

 .zoom img {
    -webkit-transition: -webkit-opacity 1s, -webkit-transform 2s; /* Safari */
    transition: opacity 1s, transform 1s;
 }

 .zoom img:hover {
     opacity: 0.5;
     transform: rotate(180deg);
     transform: scale(2,2);
 }